@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans/OpenSans-Regular-webfont.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans/OpenSans-Semibold-webfont.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair-Display";
  src: url("../assets/fonts/PlayFair/playfairdisplay-regular-webfont.woff")
      format("woff"),
    url("../assets/fonts/PlayFair/playfairdisplay-regular-webfont.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair-Display";
  src: url("../assets/fonts/PlayFair/playfairdisplay-bold-webfont.woff")
      format("woff"),
    url("../assets/fonts/PlayFair/playfairdisplay-bold-webfont.woff2")
      format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
