.wrapper {
  display: flex;
  justify-content: space-between;
}

.info_wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.info-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin: 0;
  margin-bottom: 21px;
  color: $maingreen;
}

.price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: $maingreen;
}

.specials_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 39px;
  width: 196px;
  height: 66px;
  color: $mainbg;
  border: none;
  outline: none;
  background: $btnlightgreen;
  border-radius: 10px;
}

.desc {
  display: none;
}

.descrip {
  max-width: 620px;
  width: 100%;
}

.descrip > h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: $maingreen;
}

.descrip > p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: $maingreen;
  margin-bottom: 50px;
}

.inf {
  margin-left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.details {
  font-style: 18px;
  color: $maingreen;
  text-decoration: none;
}

.li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: "1200px") {
  .section-title {
    font-size: 33px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .li {
    min-width: 600px;
    height: 340px;
    margin-right: 50px;
  }

  .lies {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .info-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 49px;
    margin: 0;
    margin-bottom: 21px;
    color: $maingreen;
  }
}
